{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindCSS": {
        "config": "./tailwind.config.ts"
    },

    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none"
}
